.task-complete {
  text-decoration: line-through;
}

.task {
  cursor: pointer;
}

.task-overdue {
  color: red;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 20px;
}

tr.task:nth-child(even) {
  background-color: #dddddd;
}
